.MainElement {
   background-image: url('https://media.giphy.com/media/H5fHyxUW6wZa0/source.gif');
   background-size: 100% 100%;
   background-attachment: fixed;
   display:grid;
   position:relative;
   height:580px;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 20px;
}